n8n_phase2_workflow.json
{
  "name": "Phase 2: n8n Orchestration & Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "heartbeat-schedule",
      "name": "Heartbeat Monitor Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Runs every 30 seconds to monitor VM worker heartbeats"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/queue",
        "authentication": "hmacAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "PROCESSING"
              }
            ]
          }
        }
      },
      "id": "check-processing-tasks",
      "name": "Check Processing Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Get all PROCESSING tasks to check for stuck tasks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-heartbeat",
              "leftValue": "={{ $json.updated_at }}",
              "rightValue": "={{ $now.minus({ minutes: 2 }) }}",
              "operator": {
                "type": "date",
                "operation": "olderThan"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-stuck-tasks",
      "name": "Filter Stuck Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Filter tasks that haven't been updated in 2+ minutes (stuck)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json.queue_id }}/status",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "error_message",
              "value": "Task recovered from stuck PROCESSING state"
            }
          ]
        }
      },
      "id": "recover-stuck-task",
      "name": "Recover Stuck Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "notes": "Reset stuck task to PENDING for retry"
    },
    {
      "parameters": {
        "path": "ack",
        "options": {}
      },
      "id": "ack-webhook",
      "name": "ACK Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "ack-handler",
      "notes": "Webhook endpoint for VM workers to send success results"
    },
    {
      "parameters": {
        "path": "fail",
        "options": {}
      },
      "id": "fail-webhook",
      "name": "FAIL Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 800],
      "webhookId": "fail-handler",
      "notes": "Webhook endpoint for VM workers to send failure results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-queue-id",
              "name": "queue_id",
              "value": "={{ $json.body.queue_id || $json.body.queueId }}",
              "type": "string"
            },
            {
              "id": "extract-encounter-id",
              "name": "encounter_id",
              "value": "={{ $json.body.encounter_id || $json.body.encounterId }}",
              "type": "string"
            },
            {
              "id": "extract-result",
              "name": "result",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ack-data",
      "name": "Extract ACK Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 600],
      "notes": "Extract queue_id and result data from ACK webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-queue-id-fail",
              "name": "queue_id",
              "value": "={{ $json.body.queue_id || $json.body.queueId }}",
              "type": "string"
            },
            {
              "id": "extract-encounter-id-fail",
              "name": "encounter_id",
              "value": "={{ $json.body.encounter_id || $json.body.encounterId }}",
              "type": "string"
            },
            {
              "id": "extract-error",
              "name": "error_message",
              "value": "={{ $json.body.error_message || $json.body.errorMessage || $json.body.error || 'Processing failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fail-data",
      "name": "Extract FAIL Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 800],
      "notes": "Extract queue_id and error data from FAIL webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/queue",
        "authentication": "hmacAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "queue_id",
                "value": "={{ $json.queue_id }}"
              }
            ]
          }
        }
      },
      "id": "get-queue-entry-ack",
      "name": "Get Queue Entry (ACK)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 600],
      "notes": "Get current queue entry to check status and attempts"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/queue",
        "authentication": "hmacAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "queue_id",
                "value": "={{ $json.queue_id }}"
              }
            ]
          }
        }
      },
      "id": "get-queue-entry-fail",
      "name": "Get Queue Entry (FAIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 800],
      "notes": "Get current queue entry to check attempts and max retries"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json[0].queue_id }}/status",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "DONE"
            },
            {
              "name": "experity_actions",
              "value": "={{ $('Extract ACK Data').item.json.result.experityActions || $('Extract ACK Data').item.json.result }}"
            }
          ]
        }
      },
      "id": "update-queue-done",
      "name": "Update Queue: DONE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600],
      "notes": "Update queue entry status to DONE with experity actions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-attempts",
              "leftValue": "={{ $json[0].attempts }}",
              "rightValue": "={{ $env.MAX_RETRY_ATTEMPTS || 3 }}",
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-retry-limit",
      "name": "Check Retry Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 800],
      "notes": "Check if attempts < max_retries"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json[0].queue_id }}/status",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ERROR"
            },
            {
              "name": "error_message",
              "value": "={{ $('Extract FAIL Data').item.json.error_message }}"
            },
            {
              "name": "increment_attempts",
              "value": "true"
            }
          ]
        }
      },
      "id": "update-queue-error",
      "name": "Update Queue: ERROR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 700],
      "notes": "Update queue entry status to ERROR and increment attempts"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json[0].queue_id }}/requeue",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "priority",
              "value": "HIGH"
            }
          ]
        }
      },
      "id": "requeue-task",
      "name": "Requeue Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 900],
      "notes": "Requeue task with HIGH priority for retry"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json[0].queue_id }}/status",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ERROR"
            },
            {
              "name": "error_message",
              "value": "={{ 'Max retry attempts exceeded. Moved to Dead Letter Queue.' }}"
            },
            {
              "name": "dlq",
              "value": "true"
            }
          ]
        }
      },
      "id": "move-to-dlq",
      "name": "Move to Dead Letter Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 1100],
      "notes": "Mark task for manual review (DLQ)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "vt-sweep-schedule",
      "name": "VT Sweep Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 1400],
      "notes": "Runs every 5 minutes to recover stuck tasks"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/queue",
        "authentication": "hmacAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "PROCESSING"
              }
            ]
          }
        }
      },
      "id": "get-stuck-tasks",
      "name": "Get Stuck Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 1400],
      "notes": "Get all PROCESSING tasks that may be stuck"
    },
    {
      "parameters": {
        "jsCode": "// Filter tasks stuck in PROCESSING for more than 10 minutes\nconst now = new Date();\nconst stuckThreshold = 10 * 60 * 1000; // 10 minutes in milliseconds\n\nconst items = $input.all();\nconst stuckTasks = [];\n\nfor (const item of items) {\n  const queueEntry = item.json[0] || item.json;\n  if (queueEntry.updated_at) {\n    const updatedAt = new Date(queueEntry.updated_at);\n    const timeDiff = now - updatedAt;\n    \n    if (timeDiff > stuckThreshold) {\n      stuckTasks.push(queueEntry);\n    }\n  }\n}\n\nreturn stuckTasks.map(task => ({ json: task }));"
      },
      "id": "filter-stuck-by-time",
      "name": "Filter Stuck by Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 1400],
      "notes": "Filter tasks stuck for >10 minutes"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json.queue_id }}/status",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "error_message",
              "value": "Recovered by VT Sweep - task was stuck in PROCESSING"
            }
          ]
        }
      },
      "id": "recover-vt-sweep",
      "name": "Recover (VT Sweep)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 1400],
      "notes": "Recover stuck tasks back to PENDING"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "sla-prom-schedule",
      "name": "SLA Prom Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 1700],
      "notes": "Runs every 15 minutes to escalate old tasks"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/queue",
        "authentication": "hmacAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "PENDING"
              }
            ]
          }
        }
      },
      "id": "get-old-pending-tasks",
      "name": "Get Old PENDING Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 1700],
      "notes": "Get all PENDING tasks to check for SLA violations"
    },
    {
      "parameters": {
        "jsCode": "// Filter tasks in PENDING for more than SLA threshold (e.g., 30 minutes)\nconst now = new Date();\nconst slaThreshold = 30 * 60 * 1000; // 30 minutes in milliseconds\n\nconst items = $input.all();\nconst oldTasks = [];\n\nfor (const item of items) {\n  const queueEntries = Array.isArray(item.json) ? item.json : [item.json];\n  \n  for (const queueEntry of queueEntries) {\n    if (queueEntry.created_at || queueEntry.updated_at) {\n      const createdAt = new Date(queueEntry.created_at || queueEntry.updated_at);\n      const timeDiff = now - createdAt;\n      \n      if (timeDiff > slaThreshold) {\n        oldTasks.push(queueEntry);\n      }\n    }\n  }\n}\n\nreturn oldTasks.map(task => ({ json: task }));"
      },
      "id": "filter-old-tasks",
      "name": "Filter Old Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 1700],
      "notes": "Filter tasks older than SLA threshold"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/queue/{{ $json.queue_id }}/requeue",
        "authentication": "hmacAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "priority",
              "value": "HIGH"
            },
            {
              "name": "error_message",
              "value": "Escalated by SLA Prom - task exceeded SLA threshold"
            }
          ]
        }
      },
      "id": "escalate-sla",
      "name": "Escalate (SLA Prom)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 1700],
      "notes": "Escalate old tasks to HIGH priority"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'ACK processed', queue_id: $('Extract ACK Data').item.json.queue_id } }}"
      },
      "id": "ack-response",
      "name": "ACK Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 600],
      "notes": "Send success response to VM worker"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'FAIL processed', queue_id: $('Extract FAIL Data').item.json.queue_id, action: $('Check Retry Limit').item.json.action || 'requeued_or_dlq' } }}"
      },
      "id": "fail-response",
      "name": "FAIL Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 800],
      "notes": "Send response to VM worker"
    }
  ],
  "connections": {
    "Heartbeat Monitor Schedule": {
      "main": [[{ "node": "Check Processing Tasks", "type": "main", "index": 0 }]]
    },
    "Check Processing Tasks": {
      "main": [[{ "node": "Filter Stuck Tasks", "type": "main", "index": 0 }]]
    },
    "Filter Stuck Tasks": {
      "main": [
        [{ "node": "Recover Stuck Task", "type": "main", "index": 0 }],
        []
      ]
    },
    "ACK Webhook": {
      "main": [[{ "node": "Extract ACK Data", "type": "main", "index": 0 }]]
    },
    "Extract ACK Data": {
      "main": [[{ "node": "Get Queue Entry (ACK)", "type": "main", "index": 0 }]]
    },
    "Get Queue Entry (ACK)": {
      "main": [[{ "node": "Update Queue: DONE", "type": "main", "index": 0 }]]
    },
    "Update Queue: DONE": {
      "main": [[{ "node": "ACK Response", "type": "main", "index": 0 }]]
    },
    "FAIL Webhook": {
      "main": [[{ "node": "Extract FAIL Data", "type": "main", "index": 0 }]]
    },
    "Extract FAIL Data": {
      "main": [[{ "node": "Get Queue Entry (FAIL)", "type": "main", "index": 0 }]]
    },
    "Get Queue Entry (FAIL)": {
      "main": [[{ "node": "Check Retry Limit", "type": "main", "index": 0 }]]
    },
    "Check Retry Limit": {
      "main": [
        [{ "node": "Update Queue: ERROR", "type": "main", "index": 0 }],
        [{ "node": "Move to Dead Letter Queue", "type": "main", "index": 0 }]
      ]
    },
    "Update Queue: ERROR": {
      "main": [[{ "node": "Requeue Task", "type": "main", "index": 0 }]]
    },
    "Requeue Task": {
      "main": [[{ "node": "FAIL Response", "type": "main", "index": 0 }]]
    },
    "Move to Dead Letter Queue": {
      "main": [[{ "node": "FAIL Response", "type": "main", "index": 0 }]]
    },
    "VT Sweep Schedule": {
      "main": [[{ "node": "Get Stuck Tasks", "type": "main", "index": 0 }]]
    },
    "Get Stuck Tasks": {
      "main": [[{ "node": "Filter Stuck by Time", "type": "main", "index": 0 }]]
    },
    "Filter Stuck by Time": {
      "main": [[{ "node": "Recover (VT Sweep)", "type": "main", "index": 0 }]]
    },
    "SLA Prom Schedule": {
      "main": [[{ "node": "Get Old PENDING Tasks", "type": "main", "index": 0 }]]
    },
    "Get Old PENDING Tasks": {
      "main": [[{ "node": "Filter Old Tasks", "type": "main", "index": 0 }]]
    },
    "Filter Old Tasks": {
      "main": [[{ "node": "Escalate (SLA Prom)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-21T10:00:00.000Z",
  "versionId": "1"
}

